<app-login-layout
  title="Login into your account"
  primaryBtnText="Login Now"
  secondaryBtnText="Signup Now"
  (submit)="submit()"
  (navigate)="navigate()"
  [disablePrimaryBtn]="!loginForm.valid"
>
  <form [formGroup]="loginForm">
    <app-primary-input
      formControlName="email"
      inputName="email"
      type="email"
      placeholder="emailname@email.com"
      label="Email Address"
    >
      <img src="assets/email.svg" alt="Ícone de email" class="img-icon" />
    </app-primary-input>
    <app-primary-input
      inputName="password"
      type="password"
      label="Password"
      formControlName="password"
    >
      <img src="assets/password.svg" alt="Ícone de email" class="img-icon" />
    </app-primary-input>
    <span>Forgot Password?</span>
  </form>
</app-login-layout>
