<main class="main-page">
  <section class="section-form">
    <div class="logo">
      <img src="assets/logo.svg" alt="Logo da página" />
      <h2>MoveIt!</h2>
    </div>
    <p>{{ title }}</p>
    <ng-content></ng-content>
    <div class="btn-wrapper">
      <button
        class="btn-primary"
        (click)="submit()"
        [disabled]="disablePrimaryBtn"
      >
        {{ primaryBtnText }}
      </button>
      <div class="divider">
        <div></div>
        <span>or</span>
        <div></div>
      </div>
      <button class="btn-secondary" (click)="navigate()">
        {{ secondaryBtnText }}
      </button>
    </div>
  </section>
  <section class="section-image">
    <h1>You should, MoveIt!</h1>
    <img src="assets/Delivery.svg" alt="Imagem de um menino no skate" />
  </section>
</main>
